.mainContainer {
  height: 100vh;
  background-image: linear-gradient(#9ba9eb, #c3caea);
  overflow: auto;
  padding: 15px;
}

.card {
  height: 100%;
  width: 100%;
}

.logoContainer {
  text-align: start;
  height: 10%;
}

.logoImage {
  height: 90%;
}
